extends baseEmail 

block content 
                            
  h3 Dobrý den #{user},
  
  h1 Vaše objednávka 

  h2 #{products}
  h2 #{firstName}
  h2 #{address}
  h2 Způsob platby: #{paymentMethod}
  h2 Status: #{paid}
  h2 Produkty: #{productsOnlyPrice} Kč
  h2 Poštovné: #{shippingPrice} Kč
  h2 Celkem: #{totalPrice} Kč
  h2 IBAN: CZ12 0800 0000 0002 1943 6319
  h2 Variabilní symbol: Použijte číslo objednávky #{orderNumber}
  h2 Poznámka: #{note}
 

  h3 Děkujeme za Váš nákup!