extends baseEmail 

block content 
                            
  h3 Dobrý den #{user},
  
  h1 Vaše objednávka je zaplacena!

  h2 #{products}
  h2 Plátce: #{paidByWhom}

  h2 #{firstName}
  h2 #{address}
  h2 Způsob platby: #{paymentMethod}
  h2 Status: #{paid}
  h2 Poštovné: #{shippingPrice} Kč
  //- h2 Tax: Kč#{taxPrice}
  h2 Celkem: #{totalPrice} Kč
  h2 Číslo objednávky: #{orderNumber}
  h2 Poznámka: #{note}


  h2 Děkujeme za Váš nákup!

  h3 Distribuce Proud

  
  
